%h1.center Rooms and Spaces
.row.grey
  .col
    %h3.center Chapel
    %h5 This is our main area on the first floor. When you book it, the conference rooms will be unavailable for other users in order to avoid distractions.
.row
  .col
    %h3.center Basement
    %h5 Fully refurbished space, nest to our fully stocked kitchen.
.row.grey
  .col
    %h3.center Garage Conference Room
    %h5 Our biggest conference space. Unavailable when Chapel space is booked for an event.
.row
  .col
    %h3.center North Side Conference Room
    %h5 Equiped with white board and big flat-screen TV. Unavailable when Chapel space is booked for an event.
.row.grey
  .col
    %h3.center South Side Conference Room
    %h5 Equiped with white board and big flat-screen TV. Unavailable when Chapel space is booked for an event.